:root {
    --primary-color: #29d9d5;
  }
*{
    padding: 0;
    margin: 0;
}
.imagen {
    position: absolute;
    top:0;
    width: 98.9%;
    height: 145%;
    background: rgba(2, 78, 74, 0.6);
    transition: all 500ms ease-out;
    margin-top: 4.9%;
}
#footer-image {
    background: linear-gradient(rgba(41, 217, 213, 0.5),rgba(41, 217, 213, 0.5)), url("./img/tres.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    padding-top: 8rem;
    padding-bottom: 8rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    & h1 {
        font-weight: 600;
        text-align: center;
        margin-bottom: 0.25rem;
    }

    & p {
        text-align: center;
    }
}