:root {
    --primary-color: #29d9d5;
}

@font-face {
    font-family: "LEMONMILK";
    src: url('./LEMONMILK-Regular.min.otf');
}

* {
    padding: 0;
    margin: 0;
}

.imagen {
    position: absolute;
    top: 0;
    width: 98.9%;
    height: 149.4%;
    background: rgba(2, 78, 74, 0.6);
    transition: all 500ms ease-out;
    margin-top: 4.9%;
}

#portada-image {
    height: 85vh;
    background: linear-gradient(rgba(41, 217, 213, 15%),rgba(41, 217, 213, 10%)), url("./img/portada.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    position: relative;
    background-repeat: no-repeat;
}

.t5 {
    height: 50%;
    width: 50%;
}

#barra-navegacion {
    background-color: rgba(0, 0, 0, 0.75);

    #navbarSupportedContent {
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 3.27rem;
        right: 0px;
        padding: 0px 3rem 0.5rem;

    }
}

@media (min-width: 992px) {
    #navbarSupportedContent {
        position: initial !important;
        background-color: initial !important;
    }

    #portada-image {
        height: 90vh !important;
        animation: zoom-portada 60s linear infinite;
    }
}
.t5{
    height: 50%;
    width: 50%;
    }
.t5{
    height: 50%;
    width: 50%;
}

  
@keyframes zoom-portada {
    0%, 100% {
        background-size: 100%;
    }
      50% {
          background-size: 120%;
      }
    }
